QWidget#LoginWidget, QWidget#LoadingWidget, QWidget#SessionManagerWidget {
	background-color: rgba(255, 255, 255, 255);
}

QFrame#MainFrame {
	/*background-color: qconicalgradient(cx:0, cy:1, angle:277.2, stop:0.267045 rgba(0, 169, 255, 255), stop:0.465909 rgba(0, 0, 0, 255));*/
	background-color: qlineargradient(spread:pad, x1:0.006, y1:0, x2:0, y2:1, stop:0.142045 rgba(229, 234, 243, 50), stop:0.295455 rgba(209, 215, 221, 150), stop:0.65 rgba(179, 183, 196, 150), stop:1 rgba(222, 227, 236, 100));
}

QMenuBar {
	border-bottom: rgba(0,0,0,100);
}

QMenuBar, QMenuBar::item {
	background-color: qlineargradient(spread:pad, x1:0.006, y1:0, x2:0, y2:1, stop:0.142045 rgba(240, 246, 255, 255), stop:0.295455 rgba(226, 233, 239, 255), stop:0.744318 rgba(204, 210, 225, 255), stop:1 rgba(222, 227, 236, 255));
}

QMenuBar::item:selected {
	border: 1px solid grey;
	border-radius: 4px;
}

/* OLD STYLE

QLabel {
	color: rgb(255,255,255);
}

QLineEdit {
	background-color: rgb(255, 255, 255);
	border: 1px solid grey;
	border-radius: 0px;
	border-bottom-right-radius: 8px;
}

QPushButton {
	color: rgb(0, 0, 0);
	min-width: 60px;
	font-size: 12px;
	border: 1px solid;
	border-color: rgb(48, 48, 48);
	border-radius: 8px;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 0px;
	padding: 2px 5px;
	background-color: qlineargradient(spread:pad, x1:0.488636, y1:0.273, x2:0.511, y2:1, stop:0 rgba(0, 0, 0, 50), stop:1 rgba(207, 207, 207, 100));
}

QPushButton:hover {
	border-color: rgba(0, 0, 0, 255);
	color: rgb(0,0,0);
	background-color: qlineargradient(spread:pad, x1:0.488636, y1:0.273, x2:0.511, y2:1, stop:0 rgba(0, 169, 255, 255), stop:1 rgba(0, 0, 0, 50));
}
*/