<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>applet</string>
	<key>CFBundleVersion</key>
	<string>2.3.0</string>
	<key>CFBundleName</key>
	<string>Tundra</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>TXML.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Tundra scene XML</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>LSMultipleInstancesProhibited</key>
	<false/>
	<key>CFBundleIconFile</key>
	<string>Icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.realxtend.Tundra</string>
	<key>CFBundleSignature</key>
	<string>tndr</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Tundra protocol handler</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tundra</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
